<div class="modal fade" id="importarquivo" tabindex="-1" aria-labelledby="importarquivoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title fs-5" id="importarquivoLabel">Importar EPI</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data" action="{{ url_for('importacao_usuário') }}">
                    {{ form.hidden_tag() }}
                    <div class="form-floating mb-3">
                        {{form.arquivo(class="form-control mb-3", id="formFile", accept=".xls, .xlsx")}}
                        {{form.arquivo.label(for="formFile")}}
                    </div>
                    <div class="modal-footer">
                        <div class="d-grid gap-2">
                            {{ form.submit(class="btn btn btn-outline-success btn-login text-uppercase fw-bold") }}
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>