<h1>Scheduled Execution - PID {{pid}}</h1>
<p>Dear {{ username }}, </p>
<p>Your execution has stopped successfully!</p>
<ul>
    <li>Robot: {{display_name}}</li>
</ul>

<p>Task: {{ task_name }}</p>
<p>Monitor the robot's execution in
    <b>
        <a href="{{ url_web }}/logs_bot/{{ pid }}">Our System</a>
    </b>
    <b>
        Your file can be accessed <a href="{{ file_url }}">here</a>
    </b>
</p>
<p>Please,
    <b>DO NOT REPLY TO THIS EMAIL</b>
</p>
